<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>SilkMarker - {{ page.title }}</title>
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAFx5NW1u_fF9V2k3zBqlcFhRfdyAYThbr6AUN6Zna8qx4Zag98BQdQomBYYLuJ6aumXsdnDZyqpMHGQ" type="text/javascript"></script>
	<script src="http://github.com/bcochran/silkmarker/raw/master/SilkMarker.js" type="text/javascript" charset="utf-8"></script>
	<script src="http://bcochran.github.com/silkmarker/js/jquery-1.3.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" charset="utf-8">
		var map;
		
		$document.ready(function() {
			if (GBrowestIsCompatible() && document.getElementById('map'))
			{
				map = new GMap2(document.getElementById('map'));
				map.addControl(new GSmallMapControl());
				
				map.setCenter(new GLatLng(44.46201924941167, -93.15387010574341), 15);
				
				map.addControl(new GMapTypeControl());
				
				var marker = new SilkMarker(new GLatLng(44.46201924941167, -93.15387010574341));
				
				map.addOverlay(marker);
			}
		});
	</script>
</head>
<body>
	<div id="content" class="site">

		{{ content }}

	</div>

	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-7398688-2");
	pageTracker._trackPageview();
	} catch(err) {}</script>
	
</body>
</html>